.Form-Container {
  background-color: white;
  width: 32vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
input:focus {
  border: solid 1px #0099ee;
  -webkit-appearance: none;
}
.Form-After-Submit-Error-Hidden {
  display: none;
}
.Form-Input-Label-Success {
  font-weight: bold;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  color: #445566;
  margin-right: 10px;
}
.Form-Row-Wrapper-Success {
  align-self: center;
  width: 50%;
  display: flex;
}
.Form-Success-Divider {
  width: -webkit-fill-available;
  height: 1px;
  margin: 30px 1px 35px 0;
  border-radius: 8px;
  background-color: #aabbcc;
  margin: 0px 67px;
}
.Form-After-Submit-Error {
  font-size: 16px;
  font-family: Roboto;
  color: #ee5566;
  text-align: center;
  margin-bottom: 10px;
}
.Form-Input-Error {
  width: 78%;
  height: 48px;
  border-radius: 4px;
  background-color: #ffffff;
  padding-left: 10px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  color: #445566;
  border: solid 1px red;
  -webkit-appearance: none;
}
input:focus-visible {
  outline-color: #0099ee;
}
.Form-Title {
  font-size: 28px;
  font-family: Roboto;
  font-weight: bold;
  line-height: 1.36;
  color: #445566;
  margin-top: 25px;
}
.Form-Desc {
  font-size: 18px;
  line-height: 1.56;
  color: #445566;
  font-family: Roboto;
  margin-top: 15px;
}
.Form-Desc-Success {
  font-size: 18px;
  line-height: 1.56;
  color: #445566;
  font-family: Roboto;
  margin-top: 15px;
  text-align: center;
}
.Form-Row-Wrapper {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  margin: 10px 0px 0px 0px;
  width: 24vw;
  align-items: center;
}
::-webkit-input-placeholder {
  color: #aabbcc;
  font-size: 18px;
  font-family: Roboto;
}
.Form-Input-Label {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  color: #445566;
  margin-right: 10px;
}
.Form-Input {
  width: 78%;
  height: 44px;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #aabbcc;
  background-color: #ffffff;
  padding-left: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  line-height: 1.56;
  color: #445566;
}
.Form-Button {
  background-color: #0099ee;
  font-family: Roboto;
  font-weight: 800;
  color: white;
  border: none;
  width: 56%;
  border-radius: 4px;
  height: 44px;
  margin: 20px 0px 20px 78px;
  align-self: center;
}
.Form-Row-Wrapper-Success-Text-Container {
  width: 6vw;
}

@media (min-width: 1px) and (max-width: 540px) {
  .Form-Container {
    border-radius: 0px;
    margin-left: 15px;
    margin-right: 15px;
    width: -webkit-fill-available;
  }
  .Form-Title {
    font-size: 24px;
    margin-top: 15px;
    text-align: center;
  }
  .Form-After-Submit-Error {
    margin-bottom: 10px;
  }
  .Form-Desc {
    display: none;
  }
  .Form-Row-Wrapper {
    flex-direction: column;
    width: -webkit-fill-available;
    height: auto;
    margin-top: 15px;
    align-items: flex-start;
  }
  .Form-Input {
    width: -webkit-fill-available;
    height: 7vh;
    margin-top: 5px;
  }
  .Form-Input-Error {
    width: -webkit-fill-available;
    height: 7vh;
    margin-top: 5px;
  }
  .Form-Button {
    height: 7vh;
    width: -webkit-fill-available;
    margin: 15px;
  }
  .Form-Row-Wrapper-Success {
    margin: 10px 20px;
    width: 55%;
    width: -webkit-fill-available;
  }
  .Form-Row-Wrapper-Success-Text-Container {
    width: 30vw;
  }
  .Form-Success-Divider {
    margin: 10px 0px;
  }
}
@media (min-width: 541px) and (max-width: 1023px) {
  .Form-Container {
    margin-left: 110px;
    margin-right: 114px;
    width: -webkit-fill-available;
    border-radius: 0px;
    margin-top: 30px;
  }
  .Form-Title {
    font-size: 28px;
    text-align: center;
  }
  .Form-Desc {
    margin-top: 15px;
  }
  .Form-Desc-Success {
    margin: 15px 0px;
    padding: 0px 60px;
  }
  .Form-Row-Wrapper {
    width: -webkit-fill-available;
    padding-right: 79px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .Form-After-Submit-Error {
    margin-bottom: 10px;
  }
  .Form-Input {
    width: 45vw;
  }
  .Form-Input-Error {
    width: 45vw;
  }
  .Form-Button {
    height: 4.7vh;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 40vw;
    align-self: center;
    margin-left: 3vw;
  }
  .Form-Row-Wrapper-Success {
    margin: 15px 0px;
    width: 55%;
  }
  .Form-Row-Wrapper-Success-Text-Container {
    width: 21vw;
  }
}
@media (width: 1024px) {
  .Form-Container {
    width: -webkit-fill-available;
    border-radius: 0px;
    margin-top: 30px;
    align-items: center;
  }
  .Form-Title {
    font-size: 36px;
    text-align: center;
  }
  .Form-Desc {
    margin-top: 15px;
    font-size: 24px;
  }
  .Form-Desc-Success {
    margin-top: 15px;
    font-size: 24px;
    width: 60vw;
  }
  .Form-Row-Wrapper {
    width: 55vw;
    padding-right: 0px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  .Form-After-Submit-Error {
    margin-bottom: 10px;
  }
  .Form-Input {
    width: 45vw;
  }
  .Form-Input-Error {
    width: 45vw;
  }
  .Form-Button {
    height: 3.7vh;
    width: 40vw;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 40vw;
    align-self: center;
    margin-left: 9vw;
  }
  .Form-Row-Wrapper-Success {
    margin: 15px 0px;
    width: 30%;
  }
  .Form-Row-Wrapper-Success-Text-Container {
    width: 21vw;
  }
  .Form-Success-Divider {
    margin: 10px 0px;
    width: 60vw;
  }
}
@media (min-width: 1025px) and (max-width: 1500px) {
  .Form-Container {
    height: -webkit-fill-available;
    margin: 20px 0px 25px 0px;
    justify-content: space-around;
  }
  .Form-Title {
    font-size: 20px;
    text-align: center;
    margin: 0px;
  }
  .Form-Desc {
    font-size: 14px;
    margin: 0px;
  }
  .Form-Desc-Success {
    font-size: 14px;
    margin: 0px;
    padding: 0px 60px;
    text-align: center;
  }
  .Form-Row-Wrapper {
    height: 40px;
    margin: 0px;
    width: 384px;
  }
  .Form-Input-Label {
    font-size: 14px;
  }
  .Form-Input-Label-Success {
    font-size: 14px;
  }
  .Form-Row-Wrapper-Success {
  }
  .Form-Input {
    width: 73%;
    height: 100%;
    padding-left: 10px;
    font-size: 14px;
  }
  .Form-Input-Error {
    width: 73%;
    height: 100%;
    padding-left: 10px;
    font-size: 14px;
  }
  .Form-Button {
    width: 50%;
    height: 40px;
    margin: 0px 0px 0px 78px;
  }
  .Form-After-Submit-Error {
    font-size: 12px;
    margin-bottom: 3px;
  }
}
