.Form-Container {
  background-color: white;
  width: 32vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.Form-Title {
  font-size: 28px;
  font-family: Roboto;
  font-weight: bold;
  line-height: 1.36;
  color: #445566;
  margin-top: 25px;
}
.Form-Desc {
  font-size: 18px;
  line-height: 1.56;
  color: #445566;
  font-family: Roboto;
  margin-top: 15px;
}
.Form-Row-Wrapper {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  margin: 15px 0px 0px 0px;
  width: 24vw;
  align-items: center;
}
::-webkit-input-placeholder {
  color: #aabbcc;
  font-size: 18px;
  font-family: Roboto;
}
.Form-Input-Label {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  color: #445566;
  margin-right: 10px;
}
.Form-Input {
  width: 78%;
  height: 48px;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #aabbcc;
  background-color: #ffffff;
  padding-left: 10px;
}
.Form-Button {
  background-color: #0099ee;
  font-family: Roboto;
  font-weight: 800;
  color: white;
  border: none;
  width: 56%;
  border-radius: 4px;
  height: 48px;
  margin: 30px 0px 30px 78px;
  align-self: center;
}

@media (min-width: 1px) and (max-width: 539px) {
  .Form-Container {
    border-radius: 0px;
    margin-left: 15px;
    margin-right: 15px;
    width: -webkit-fill-available;
  }
  .Form-Title {
    font-size: 24px;
    margin-top: 15px;
  }
  .Form-Desc {
    display: none;
  }
  .Form-Row-Wrapper {
    flex-direction: column;
    width: -webkit-fill-available;
    height: auto;
    margin-top: 15px;
    align-items: flex-start;
  }
  .Form-Input {
    width: -webkit-fill-available;
    height: 7vh;
    margin-top: 5px;
  }
  .Form-Button {
    height: 7vh;
    width: -webkit-fill-available;
    margin: 15px;
  }
}
@media (min-width: 540px) and (max-width: 1023px) {
  .Form-Container {
    margin-left: 110px;
    margin-right: 114px;
    width: -webkit-fill-available;
    border-radius: 0px;
    margin-top: 30px;
  }
  .Form-Title {
    font-size: 28px;
    text-align: center;
  }
  .Form-Desc {
    margin-top: 15px;
  }
  .Form-Row-Wrapper {
    width: -webkit-fill-available;
    padding-right: 79px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .Form-Input-Label {
  }
  .Form-Input {
    width: 45vw;
  }
  .Form-Button {
    height: 4.7vh;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 40vw;
    align-self: center;
    margin-left: 3vw;
  }
}
@media (width: 1024px) {
  .Form-Container {
    width: -webkit-fill-available;
    border-radius: 0px;
    margin-top: 30px;
    align-items: center;
  }
  .Form-Title {
    font-size: 36px;
    text-align: center;
  }
  .Form-Desc {
    margin-top: 15px;
    font-size: 24px;
  }
  .Form-Row-Wrapper {
    width: 55vw;
    padding-right: 0px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  .Form-Input-Label {
  }
  .Form-Input {
    width: 45vw;
  }
  .Form-Button {
    height: 3.7vh;
    width: 40vw;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 40vw;
    align-self: center;
    margin-left: 9vw;
  }
}
@media (min-width: 1025px) and (max-width: 1500px) {
  .Form-Container {
    height: -webkit-fill-available;
    margin: 20px 0px 25px 0px;
  }
  .Form-Title {
    font-size: 20px;
    text-align: center;
  }
  .Form-Desc {
    font-size: 14px;
  }
  .Form-Row-Wrapper {
    height: -webkit-fill-available;
    margin: 15px 0px 0px 0px;
    width: 25vw;
  }
  .Form-Input-Label {
    font-size: 18px;
  }
  .Form-Input {
    width: 73%;
    height: -webkit-fill-available;
    padding-left: 10px;
  }
  .Form-Button {
    width: 50%;
    height: -webkit-fill-available;
    margin: 10px 0px 10px 78px;
  }
}
