.Navbar-Container {
  display: flex;
  flex-direction: row;
  padding-left: 21%;
  padding-right: 21%;
  justify-content: space-between;
  height: 7vh;
}
.Navbar-Logo {
}
.Navbar-Buttons {
}
.Navbar-Menu-Logo {
  display: none;
}
@media (min-width: 300px) and (max-width: 700px) {
  .Navbar-Container {
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    border: solid #aabbcc;
    border-width: 0px 0px 1px 0px;
  }
  .Navbar-Logo {
    height: 4vh;
    width: 29vw;
  }
  .Navbar-Buttons {
    display: none;
  }
  .Navbar-Menu-Logo {
    display: flex;
    height: 4vh;
    width: 6vw;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .Navbar-Container {
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    border: solid #aabbcc;
    border-width: 0px 0px 1px 0px;
  }
  .Navbar-Logo {
    height: 4vh;
    width: 29vw;
  }
  .Navbar-Buttons {
    display: none;
  }
  .Navbar-Menu-Logo {
    display: flex;
    height: 4vh;
    width: 6vw;
  }
}
