.Footer-Container {
  background-color: #4a4a4a;
  width: 100vw;
}
.Footer-TopContainer {
  background-color: saddlebrown;
  width: 100vw;
  height: 22vh;
}
.Footer-BottomContainer {
  background-color: aqua;
  width: 100vw;
  height: 10vh;
}
@media (min-width: 1px) and (max-width: 539px) {
}
@media (min-width: 540px) and (max-width: 1024px) {
}
@media (min-width: 1025px) and (max-width: 1500px) {
}
